# GPU (CUDA 11.8) — installer avec :
# pip install torch --index-url https://download.pytorch.org/whl/cu118
# CPU uniquement — installer avec :
# pip install torch
torch==2.7.1+cu118

fair-esm==2.0.0
numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.8
requests==2.33.1
py3Dmol==2.5.4
scikit-learn==1.7.2
ipykernel==7.2.0
jupyter==1.1.1
